@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-part{
    background-color: blue;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-left h1{
    font-size: 64px;
    color: #FFFFFF;
    width: 485px;
    height: 230px;
}
.top-right{
    overflow: hidden;

}
.top-right img{
    height: 438px;
    width: 556px;
    
  
}
.top-right:hover img{
    transform: scale(1.5);
    transition: transform 3s ease-in-out;
    
    
}
.video-link a{
    text-decoration: none;
    width: 190px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 10px 10px 12px;
    margin-left: 3px;
}
.video-link:hover span{
    color:black;
    transition: color 2s ease-in-out;
}
.video-link span, .fa-arrow-right{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
